*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#particles-js{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -10;
}

body{
    font-family: 'Poiret One', cursive;
    /* background: #1e130c;  
    background: -webkit-linear-gradient(to right, #9a8478, #1e130c);  
    background: linear-gradient(to right, #9a8478, #1e130c);  */
    background-color: #eee;
    /* opacity: 0.6; */
    
}

.section1 {
    width: 100%;
    height: 100vh;
    position: relative;
    display:flex;
    justify-content: center;
}


.section-index{
    width: 100%;
    margin: 0 auto;
    height: calc(100vh - 62px);
    position: relative;
    display: flex;
    align-items: flex-start;
}

.section-index img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    position: absolute;
 

}



/********** NAVEGACION *************/

.cabecera-menu {
     width: 100%;
     display: flex;
     justify-content: space-evenly;
     align-items: flex-end;
     padding:20px 0px;
     letter-spacing: 3px;
     z-index: 10;
     background-color: #eeeeee;
     opacity: 0.6;
 } 

.nav-menu {
    display: flex;
    justify-content:space-evenly;
    width:100%;
    z-index:5;
}

 .nav-menu ul{
     width: 100%;
     display: flex;
     justify-content:space-evenly;
     list-style-type: none;
 }

 .nav-menu ul li a{
     text-decoration: none;
     color: black;
     padding: 10px 50px; 
     font-weight: 700;
     z-index: 5;
     font-size: 17px;
 }

 .nav-menu ul li a:hover {
     
     opacity: 0.6;
     color: #d8c3b7;
    
 }

 

 /******* TITULO Y LOGO *********/

 .contenedor{
     /* background-color: black; */
    width: 75%;
    margin: 0 auto;
    height: 80%;
    display:flex;
    align-items: center;
    /* position:relative; */
 }

 .logo{
     /* z-index: 3; */
     height: 60%;
     /* text-align: center; */
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction:column;
     width: 50%;
     /* background-color: #eee; */
     /* opacity: 0.8; */
     color: #eee;
     overflow: hidden;
 }

 .titulo{
    font-family: 'Poiret One', cursive;
    letter-spacing: 1px;
    font-weight: bold;
    /* border-bottom: 1px solid #2f2f2f; */
 }

 .linea__titulo{
     border: solid 1px #2f2f2f;
     background-color: #2f2f2f;
     width: 30px;
     display:inline-block;
     margin: 0px 20px;
     margin-bottom: 6px;;

 }
 

 .bendita-luz h1 , h6{
     z-index: 3;
     font-weight: bold;
 }

 .bendita-luz h1 {
    font-weight: bold;
    font-size: 8em;;
 }

 .bendita-luz h6 {
     font-size: 2em;
     letter-spacing: 3px;
 }



/********* SECCION 2  ***********/

.section2 {
    display: flex;
    align-items: center;
     width: 100%;
     min-height: 100vh;
     position: relative;
     /* margin-top: 0px; */
    color: #2f2f2f;
     
}

.section2 .container h4 {
    padding-bottom: 50px;
    letter-spacing: 3px;
    color: #2f2f2f;
    font-weight: bold;
}
/*******  Estilos Materialize  *******/

.carousel {
    margin-top: 60px;
    min-height: 500px;
}

.carousel .carousel-item{
    width: 500px;
    height: 500px;
}

.carousel .carousel-item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   /* border-radius: 15px; */
}


/********** Seccion guarda ************/

.info{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
}

.info__card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.guarda{
    margin: 100px 0px;
    position: relative;
    width: 100%;
    height: 200px;
}

.guarda img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    position: absolute;
}

/***** SECTION 3 *****/

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 80px;
    width: 100%;
    min-height: 100vh;
    color: #2f2f2f;
    position: relative;
    margin-top: 50px;
}

.blog {
    display: flex;
    width: 80%;
    min-height: 100vh;
    margin: 0 auto; 
    align-items: center;
    justify-content:space-around;
}

.section3 .blog img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 15px; */
}



.imagenBlog {
    width: 500px;
    height: 500px;
}

.blog-content {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items:center;
}



.section3 .blog h2{
    font-weight: bold;
    font-size: 4rem;
}

.section3 .blog p{
    font-size: 2em;
}

/********** SECTION 4  ***********/

.section4 {
    position: relative;
    width: 100%;
    min-height: 100vh;
}
 



 
 





