*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#particles-js{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -10;
}

body{
    font-family: 'Poiret One', cursive;
    background: #1e130c;  
    background: -webkit-linear-gradient(to right, #9a8478, #1e130c);  
    background: linear-gradient(to right, #9a8478, #1e130c); 
}

.section1 {
    width: 100%;
    height: 100vh;
    position: relative;
    display:flex;
    justify-content: center;
}


.section-index{
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    position: relative;
}

.section-index img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    position: absolute;
    border-radius: 0 0 0 25px;

}

.containerSkew {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

/********** NAVEGACION *************/

.cabecera-menu {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: flex-end;
     padding:30px 0px;
     letter-spacing: 3px;
     z-index: 10;
 } 

.nav-menu {
    z-index:5;
}

 .nav-menu ul{
     display: flex;
     list-style-type: none;
 }

 .nav-menu ul li a{
     text-decoration: none;
     color:white;
     padding: 10px 50px; 
     font-weight: 700;
     z-index: 5;
 }

 .nav-menu ul li a:hover {
     background-color: white;
     opacity: 0.6;
     color: #d8c3b7;
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 49%, 0% 0%);
    border-radius: 5px;
 }

 /****** MENU-FLOTANTE ******/

 .menuFlotante {
     position: absolute;
     transform: translateY(-50%);
     top: 50vh;
     left: 0;
     color: #eee;
     padding: 0px 5px;
     height: 300px;
 }

 
 .menuFlotante .enlaces {
     height: 100%;
     display: flex; 
     flex-direction:column; 
     justify-content: space-evenly; 
     color: #eee;
 }

 .menuFlotante .enlaces a {
     color: #eee;
 }

 /******* TITULO Y LOGO *********/

 .contenedor{
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 3;
     color: white;
     letter-spacing: 4px;
 }

 .logo{
     z-index: 3;
     text-align: center;
 }

 .titulo{
    font-family: 'Poiret One', cursive;
    color: white;
    letter-spacing: 3px;
    font-weight: bold;
 }

 .bendita-luz h1 , h6{
     z-index: 3;
 }

 .bendita-luz h1 {
    font-weight: bold;
    font-size: 6rem;
 }

 .bendita-luz h6 {
     font-size: 2em;
 }


.skew{
    width: 100%;
    border-width: 100vh 0px 0px 100vw;
    border-style: solid;
    border-color: #d8c3b7 transparent  transparent transparent;
    opacity: 0.9;
    position: absolute;
    top: 0px;
    right: 0px;
    /* z-index: 2; */
}

/********* SECCION 2  ***********/

.section2 {
    display: flex;
    align-items: center;
     width: 100%;
     min-height: 100vh;
     position: relative;
}

.section2 .container h4 {
    padding-bottom: 50px;
    letter-spacing: 5px;
    color: #eee;
}
/*******  Estilos Materialize  *******/

.carousel {
    min-height: 500px;
}

.carousel .carousel-item{
    width: 500px;
    height: 500px;
}

.carousel .carousel-item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 15px;
}

/***** SECTION 3 *****/

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* flex-grow: 1; */
    width: 100%;
    min-height: 100vh;
    color: #eee;
    position: relative;
}

.blog {
    display: flex;
    width: 80%;
    min-height: 100vh;
    margin: 0 auto; 
    align-items: center;
    justify-content:space-around;
    /* flex-grow: 1; */
}

.section3 .blog img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}



.imagenBlog {
    width: 500px;
    height: 500px;
}

.blog-content {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items:center;
}



.section3 .blog h2{
    font-weight: bold;
    font-size: 4rem;
}

.section3 .blog p{
    font-size: 2em;
}

/********** SECTION 4  ***********/

.section4 {
    position: relative;
    width: 100%;
    min-height: 100vh;
}
 



 
 





